    body {
        background-color: #FFE8D6;
        font-family: mukta, sans-serif;
        font-size: 30px;
    }
    
    h1 {
        font-size: 3em;
        color: #6B705C;
        background-color: aqua;
        display: grid;
    }
    
    h3 {
        font-weight: 200;
        letter-spacing: -1;
        line-height: 100%;
        color: #A5A58D;
        font-size: 32px;
        background-color: blueviolet;
        display: grid;
    }
    
    p,
    ul {
        color: #CB997E;
        line-height: 100%;
        width: 100%;
        font-weight: 400;
        text-align: center;
        background-color: brown;
        display: grid;
    }
    
    hr {
        color: #6B705C;
    }
    
    #profile {
        margin-left: 500px;
        margin-top: auto;
        background-color: chartreuse;
    }