#root {
  max-width: 1280px;
}

.logo {
  font-family: "Roboto Mono", monospace;
  padding: 0.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.hero-title {
  font-family: "Roboto Serif", serif;
}

.rotate {
  transition: transform 0.5s;
}

.rotate:hover {
  transform: rotate(55deg);
}
